#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;
}



.colors-visual, .colors-hex {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
